/** @format */
.rdt_TableHeader {
  display: none !important;
}

table.table-condensed tr td:first-child,
table.table-condensed thead th:first-child {
  display: none;
}

.btn-action {
  position: relative;
  bottom: 0.6em;
}

.ml-custom {
  position: relative;
  left: 0.3em;
}

#dateRangeInput,
#searchInput {
  width: 25%;
}
.cursor-pointer {
  cursor: pointer;
}

textarea {
  resize: none;
  height: 100px !important;
}

@media only screen and (max-width: 767px) {
  #dateRangeInput,
  #searchInput {
    width: 100% !important;
  }
}

.react-datepicker-wrapper {
  width: 100%;
}

.form-group-startTime .react-datepicker__tab-loop li:nth-child(-n + 18),
.form-group-startTime .react-datepicker__tab-loop li:nth-child(n + 35) {
  display: none;
}

.form-group-endTime .react-datepicker__tab-loop li:nth-child(-n + 19),
.form-group-endTime .react-datepicker__tab-loop li:nth-child(n + 36) {
  display: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
